<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Tag</title>
		<link rel="stylesheet" type="text/css" href="normalize.css"/>
		<link rel="stylesheet" type="text/css" href="reviewsite-styles.css" />
		<link href="https://fonts.googleapis.com/css?family=Merriweather"
			rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Raleway"
			rel="stylesheet"/>
		<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville"
			rel="stylesheet"/>
	</head>

	<body>
		
		<h3><a href="/reviews">Reviews</a></h3>
		<h3><a href="/categories">Categories</a></h3>
		<h3><a href="/tags">Tags</a></h3>

		<header>
			<h1>Tag</h1>
		</header>

		<h2 th:text="'Restaurants tagged ' + ${tag.tagName}"></h2>

		<div th:each="review: ${tag.reviewsTagged}">
			<img th:src="${review.imageUrl}" alt="Picture of Restaurant"/>
			<h2>			
				<a th:href="@{/review(id=${review.reviewId})}" th:text="${review.reviewTitle}"></a>
			</h2>
		</div>
		
	</body>
</html>